
        body {
            background-color: #000000;
        }
        div #clock {
            font-size: 50px;
            font-family: 'Lato', sans-serif;
            color: #222;
            text-align: center;
        }
        
        .lightup {
            color: #EEE;
        }
        
        .seclightup {
            color: #EEE;
        }
        
        .gumuz {
            color: #333;
        }