body {
	background-color: #000000;
}

#qlocktwo {
	position:absolute;
	margin-top:0px;
	margin-left:90px;
	font-size: 75px;
	font-family: 'Open Sans';
	color: #222222;
}

#qtick {
	-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
	position:absolute;
	margin-top: 10px;
	margin-left:25px;
	font-size: 75px;
	font-family: 'Open Sans';
	color: #222222;
}

#qclock td {
	width:100px;
	text-align: center;
}

#qclock tr {
	height:100px;
}

.qactive {
	color: #ffffff;	
}
