body {
	background-color: #000000;
	border:0;
	outline:0;
	vertical-align:baseline;
	margin:0;
	padding:0;
	overflow:hidden;
}

table {
	border-collapse:collapse;
	border-spacing:0;
	padding:0;
	border:none;
}

#qlocktwo {
	position:absolute;
	margin-top:0px;
	margin-left:80px;
	font-size: 75px;
	font-family: 'Open Sans';
	color: #222222;
}

#qtick {
	-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
	position:absolute;
	margin-top: 8px;
	margin-left: 25px;
	font-size: 75px;
	font-family: 'Open Sans';
	color: #222222;
}

#qclock td {
	width:100px;
	text-align: center;
}

#qclock tr {
	height:95px;
}

.qactive {
	color: #ffffff;	
}
